<div class="container">
	<div class="jumbotron">
		<h1>Nikita Puzanenko</h1>
		<h4>Junior Front/Backend Developer (Node/Handlebars/Mongodb)</h4>
		<!--<img class="mainImage" src="./images/profile2.jpg"/>-->
		<p>Hello world! I am a developer with a passion for complex data and minimal design.</p>
		<p>Checkout some of the things I have built</p>

		<div class="row">
			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="./images/dnd.png" alt="Dungeons and Dragons Screenshot">
					<div class="caption">
						<p class="mainPage">Dungeons and Dragons character sheet for my personal group</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="./images/StoreSearch.png" alt="Store Search screenshot">
					<div class="caption">
						<p class="mainPage">Internal tool for built for the Sales team to find example sites during the sales process</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="./images/ninjatools.png" alt="SSL tool screenshot">
					<div class="caption">
						<p class="mainPage">An internal tool for our support department to lookup SSL/DNS information</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
